body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* background-color: #C5DED7; */
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Josefin Sans', sans-serif;
}

.heder {
    background-color: #E0EBE8;
    height: 150px;
    /* position: fixed; */
    /* display: inline-block; */

}

.img {
    position: absolute;
    top: 50px;
    left: 200px;
    /* background-color: #C5DED7; */
}

.menu {

    position: absolute;
    top: 90px;
    left: 600px;
    font-size: 30px;
    word-spacing: 30px;
    /* display: inline-block; */
    /* background-color: #C5DED7; */
}

a {
    text-decoration: none;
    color: #45b29a;
}

a:hover {
    color: #545454;
}

.mean {
    background-color: #E0EBE8;
    height: 673px;
}

.img1 {
    position: absolute;
    top: 250px;
    left: 515px;
}

.text {
    position: absolute;
    top: 375px;
    left: 535px;
    font-size: 30px;
    font-weight: 600;
    color: #45b29a;
}

/* .text {
    color: #545454;
    background-color: white;
} */

.img2 {
    position: absolute;
    top: 525px;
    left: 325px;
}

.img3 {
    position: absolute;
    top: 425px;
    left: 175px;
}

#cloud {
    top: 275px;
    left: 1050px;
}

.img4 {
    position: absolute;
    top: 900px;
    margin-left: 615px;
}

#text {
    position: absolute;
    color: #1B7F69;
    top: 1100px;
    margin-left: 700px;
    font-size: 30px;
    font-weight: 200;
}

#text1 {
    position: absolute;
    top: 1200px;
    left: 525px;
    font-size: 25px;
    color: #545454;
}

#text2 {
    position: absolute;
    top: 1225px;
    left: 475px;
    font-size: 25px;
    color: #545454;
}

#text3 {
    position: absolute;
    top: 1250px;
    left: 475px;
    font-size: 25px;
    color: #545454;
}

#text4 {
    position: absolute;
    top: 1275px;
    left: 550px;
    font-size: 25px;
    color: #545454;
    font-weight: 500;
}

.hedig {
    font-size: 52px;
    position: absolute;
    top: 1400px;
    left: 550px;
    color: #1B7F69;
    font-weight: 100;
}

.img5 {
    position: absolute;
    top: 1540px;
    left: 250px;
}

#text5 {
    position: absolute;
    top: 1500px;
    left: 650px;
    font-size: 35px;
    color: #45b29a;
    font-weight: 300;
}

.list1 {
    position: absolute;
    top: 1565px;
    left: 645px;
    color: #545454;
    font-size: 25px;

}

#text6 {
    position: absolute;
    top: 1750px;
    left: 275px;
    color: #45b29a;
    font-weight: 300;
    font-size: 35px;
}

.list2 {
    position: absolute;
    top: 1805px;
    left: 270px;
    color: #545454;
    font-size: 25px;
    font-weight: 300px;
}

.img7 {
    position: absolute;
    top: 1765px;
    left: 850px;
}

#text7 {
    position: absolute;
    top: 1950px;
    left: 650px;
    font-size: 35px;
    color: #45b29a;
    font-weight: 300;
}

.img9 {
    position: absolute;
    top: 1985px;
    left: 250px;
}

.list3 {
    position: absolute;
    top: 2025px;
    left: 645px;
    color: #545454;
    font-size: 25px;
}

#text8 {
    font-size: 3.8em;
    position: absolute;
    top: 2200px;
    left: 565px;
    color: #1B7F69;
    font-weight: 400;
}

#text9 {
    font-size: 2em;
    color: #45b29a;
    position: absolute;
    top: 2375px;
    left: 425px;
}

.p1 {
    font-size: 30px;
    position: absolute;
    top: 2475px;
    left: 300px;
    color: #545454;

}

.p2 {
    font-size: 28px;
    position: absolute;
    top: 2515px;
    left: 325px;
    color: #545454;

}

.img11 {
    position: absolute;
    top: 2675px;
    left: 650px;
}

.futer {
    border: #E0EBE8 solid 3px;
    height: 200px;
    position: absolute;
    width: 100%;
    top: 2800px;
    background-color: #E0EBE8;
}

.link {
    position: absolute;
    top: 50px;
    left: 350px;
    font-size: 22px;
    word-spacing: 150px;
    font-weight: 100;
}

.p3 {
    font-size: 18px;
    position: absolute;
    top: 125px;
    color: #45b29a;
    width: 250px;
    left: 550px;
}

.p4 {
    font-size: 18px;
    position: absolute;
    top: 125px;
    color: #45b29a;
    width: 250px;
    left: 775px;
}

.p5 {
    font-size: 18px;
    position: absolute;
    top: 150px;
    color: #45b29a;
    width: 250px;
    left: 600px;
}

.btn {
    position: absolute;
    top: 25px;
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    background: #1B7F69;
    padding: 10px 20px 10px 20px;
    border: solid #1B7F69 2px;
    text-decoration: none;
}

.btn:hover {
    background: #45b29a;
    text-decoration: none;
    cursor: pointer;
}